.App {
  text-align: center;
  color: #ffffff;
}
.navbar {
  height: 100px;
  background-color: rgb(42, 41, 50);
  font-size: 20;
  display: flex;
  justify-content: space-between;
}
.heading-text {
  margin: 0px;
  padding-top: 30px;
  padding-left: 40px;
}
.wallet-btn {
  padding-top: 25px;
  height: 48px;
  width: 163px;
  padding-right: 40px;
}
.getDataBtn{
  padding: 8px 16px;
  border: none;
  background-color: rgb(89, 89, 249);
  color: #ffffff;
  font-size: 20px;
  margin-top: 140px ;
}
.credit-score-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.credit-score-container > * {
  margin-bottom: 50px;
}
.svg-text{
  fill: white;
  font-size: 20px;
}

.score{
  font-size: 26px;
}

.main-form {
  background-color: rgb(70, 68, 78);
  width: 500px;
  height: 500px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container{
  display: flex;
  justify-content: space-between;
}

.label{
  margin-top: 200px;
  font-size: 26px;
}
#name{
  margin-top: 20px ;
  height: 30px;
}
.loading-animation{
  margin-top: 150px;
  margin-left: 150px;
}
